openapi: 3.1.0
servers:
  - url: "https://api.malga.io"
    description: Production
info:
  version: "0.5"
  title: Documentação Malga API
  description: |
    # Authentication

    Os serviços de API da Malga são protegidos através de chaves de acesso. Você pode gerenciar suas chaves de acesso através do seu dashboard.

    É importante armazenar suas chaves de maneira privada e segura uma vez que elas possuem privilégios de alteração na sua conta. Não compartilhe suas chaves, não deixe elas fixadas no seu código e nem armazene elas no seu servidor de controle de versão. Recomendamos utilizar variáveis de ambiente secretas para deixar a chave disponível para sua aplicação.

    A Autenticação para todos os chamadas da API é feita através de headers HTTP, sendo necessário informar seu identificador de cliente na Malga e a chave secreta de acesso.

    ## X-Client-ID

    Identificador única da sua conta na Malga. Deve ser enviado no header obrigatóriamente em todas as requisições feitas a API.

    | Security Scheme Type | API Key |
    |-----------------------|-----------|
    | Header parameter name | `X-Client-ID` |

    ## X-Api-Key

    Sua chave de acesso a API. Funciona em par com o client-id devendo ser enviado no header obrigatóriamente em todas as requisições feitas a API.

    | Security Scheme Type | API Key |
    |-----------------------|-----------|
    | Header parameter name | `X-Api-Key` |

    ## Exemplo de requisicão autenticada

    ```bash
      curl --location --request GET 'https://api.malga.io/v1/' \
        --header 'X-Client-Id: <YOUR_CLIENT_ID>' \
        --header 'X-Api-Key: <YOUR_SECRET_KEY>'
    ```

tags:
  - name: Client-token
    description: |
      É possível criar chaves públicas de acesso temporária a API com escopo e tempo de expiração limitados.

      Recomendamos o uso deste tipo de chave quando você tiver que expor a chave em uma aplicação client side.

      **Detalhe dos parâmetros da chamada de criação da chave pública:**

      <SchemaDefinition schemaRef="#/components/schemas/AuthRequest" />

      **Retorno da chamada de criação da chave pública:**

      <SchemaDefinition schemaRef="#/components/schemas/AuthResponse" />

  - name: Tokens
    description: |
      **Dados básicos de uma requisição de criação de card token**

      <SchemaDefinition schemaRef="#/components/schemas/TokenRequest"   />

  - name: Cards
    description: |
      **Dados básicos de um objeto cartão**

      <SchemaDefinition schemaRef="#/components/schemas/Card"  />

  - name: Customers
    description: |

      Através da API de `customers` é possível realizar a criação, edição, listagem e exclusão de dados de compradores para uso nos serviços de tokenização de cartões, cobrança por PIX, Boleto, uso em análise de motores de antifraude e recorrência.

      *A fim de manter maior integridade dos dados, as informações de email e documento (CPF/CNJP) são únicos para customers na sua conta Malga, não podendo existir dois compradores iguais.*

      ### Consulte a [tabela de tipos de paises e documentos suportados](#section/Tabela-tipos-de-paises-e-documentos-cadastro-de-Customer) para criação de customer

  - name: Sessions
    description: |

      Através da API de sessões é possível criar um pedido, composto por itens, métodos de pagamento e outros atributos, que pode ser pago através de um endpoint ou integrado ao MalgaCheckout.

      # Fluxo de criação e de pagamento de uma sessão
      - Crie uma `sessão` informando os dados básicos necessários
      - Utilize a `publicKey` retornada na criação ou recuperada na rota de detalhes no `X-Api-Key` para autenticar o pagamento

      **Dados básicos de um objeto do tipo session**

      <SchemaDefinition schemaRef="#/components/schemas/Session" exampleRef="#/components/examples/Session" />

  - name: Charges
    description: |

      Para realizar uma cobrança deve criar um objeto `charge`. É possível recuperar detalhes de transações individuais ou listar todas as cobranças realizadas em um determinado `merchant`. Os `charges` são identificados a partir de um id 'único'.

      **Dados básicos de um objeto do tipo charge**

      <SchemaDefinition schemaRef="#/components/schemas/Charge" exampleRef="#/components/examples/ChargeCard" />

  - name: Webhooks
    description: |

      A Malga utiliza o serviço de webhooks para notificar o seu sistema sobre os eventos ocorridos na nossa plataforma. Através de webhooks você consegue atualizar seu sistema sempre que um evento importante acontece, como a atualização de status de uma cobrança para confirmar ou cancelar um determinado pagamento.

      **Dados básicos de um objeto do tipo event:**

      <SchemaDefinition schemaRef="#/components/schemas/Event" exampleRef="#/components/examples/Event" />

  - name: Reports
    description: |

      Através da API Reports, é possível realizar a exportação das informações das transações processadas através da Malga em arquivo .csv, relacionadas à cobrança [charges], o pagamento [transaction], o link de pagamento [session] e cliente [customer] que realizou o pagamento

  - name: Merchants
    description: |

      Através das APIs de `merchants` é possível realizar a criação e configuração de sub contas na Malga. Uma sub conta, ou um `merchant`, é um cadastro de estabelecimento comercial que você tenha junto há um dos provedores de pagamentos integrados pela Malga. Uma vez que você tenha uma conta criada em um dos provedores aceitos, basta você solicitar suas credenciais de acesso ao parceiro e configurar seu cadastro na Malga.

      No cadastro de `merchant` é necessário informar o código da categoria `mcc` do seu cadastro junto ao provedor, escolher um dos tipos de provedores suportados pela Malga, e definir a prioridade do provedor com suas credenciais de acesso à API do provedor.

      O sistema de roteamento inteligente de transações da Malga foi desenvolvido de maneira a suportar o uso de múltiplos provedores por cadastro de estabelecimento. Usamos a prioridade definida no cadastro dos provedores para priorizar um determinado provedor em relação à outro, dessa forma você consegue gerenciar a ordem de provedores que será utilizado para fazer as retentativas.

      ### Consulte a [tabela de provedores aceitos](#section/Provedores-e-meios-de-pagamentos-suportados) para cadastro de credenciais

      ### Consulte a [tabela de código MCC](api-reference/type-tables/mcc-code.mdx) para cadastro de Merchants

      **Dados básicos do objeto do tipo merchant**

      <SchemaDefinition schemaRef="#/components/schemas/Merchant" exampleRef="#/components/examples/Merchant" />

  - name: Sellers
    description: |

      Para realizar uma cobrança com Split, antes é necessário criar um `seller`. Os `sellers` são identificados a partir de um id 'único'.

      Através das APIs de `sellers` é possível realizar a criação e configuração de recebedores que serão beneficiados em um Split. Uma recebedor, ou um `seller`, é um cadastro de pessoa física ou jurídica para quem você tenha interesse em repassar automaticamente valores de uma determinada cobrança. 

      É obrigatório informar o campo `owner` caso o seller cadastrado seja considerado como `pessoa física` agora se esse for considerado como `pessoa jurídica` é necessário
      informar os campos `owner` e `business`.

      <SchemaDefinition schemaRef="#/components/schemas/Seller" exampleRef="#/components/examples/SellerRequestBusiness" />

  - name: Flows
    description: |

      Através da API de `flows` é possível recuperar detalhes de um Fluxo ou listar todas os Fluxos cadastrados em determinado `clientId`.

      Os fluxos inteligentes são um recurso disponibilizado pela Malga para gestão dos pagamentos, possibilitando a configuração e a inserção de regras e condicionais personalizados para processamento das cobranças. Para mais informações, consulte a documentação [link](https://docs.malga.io/documentations/flow-guide/introduction).

  - name: Settings
    description: |

      Através da API de `settings` é possível recuperar e criar configurações de personalização de link de pagamento de um determinado `clientId`.


  - name: Tabelas de tipos
    description: |

      # Provedores e meios de pagamentos suportados

      | Provedor        | Cartão | Boleto | Pix | Pix Parcelado | Split | 3DS2 | Voucher | Descrição        |
      | ------------    |---     |---     |---  |---            |---    |---   |---   |---------         |
      | `SANDBOX`       | SIM    | SIM    | SIM | SIM           | SIM   | SIM  | SIM  | Simulador ambiente de teste |
      | `ADYEN`         | SIM    | SIM    | SIM | NÃO           | NÃO   | SIM  | NÃO  | Adyen            |
      | `BARTE`         | SIM    | NÃO    | NÃO | NÃO           | NÃO   | SIM  | NÃO  | Barte            |
      | `ITAU`          | NÃO    | EM BREVE    | SIM | NÃO           | NÃO   | NÃO  | NÃO  | Itaú             |
      | `BB`            | NÃO    | NÃO    | SIM | NÃO           | NÃO   | NÃO  | NÃO  | Banco do Brasil  |
      | `BRAINTREE`     | SIM    | NÃO    | NÃO | NÃO           | NÃO   | NÃO  | NÃO  | Braintree        |
      | `BRASPAG`       | SIM    | NÃO    | NÃO | NÃO           | SIM   | NÃO  | NÃO  | Braspag          |
      | `BS2_BOLETO`    | NÃO    | SIM    | NÃO | NÃO           | NÃO   | NÃO  | NÃO  | Banco BS2 Boleto |
      | `BS2`           | NÃO    | NÃO    | SIM | NÃO           | NÃO   | NÃO  | NÃO  | Banco BS2 Pix    |
      | `CIELO`         | SIM    | NÃO    | NÃO | NÃO           | NÃO   | NÃO  | NÃO  | Cielo            |
      | `DRIP`          | NÃO    | NÃO    | NÃO | SIM           | NÃO   | NÃO  | NÃO  | Drip             |
      | `GETNET`        | SIM    | SIM    | SIM | NÃO           | NÃO   | NÃO  | NÃO  | Getnet           |
      | `KLAP`          | SIM    | NÃO    | NÃO | NÃO           | NÃO   | NÃO  | NÃO  | Klap             |
      | `MERCADO_PAGO`  | SIM    | SIM    | SIM | NÃO           | NÃO   | NÃO  | NÃO  | Mercado pago     |
      | `PAGARME_V5`    | SIM    | SIM    | SIM | NÃO           | NÃO   | NÃO  | SIM  | Pagar.me V5      |
      | `PAGARME`       | SIM    | SIM    | SIM | NÃO           | SIM   | NÃO  | NÃO  | Pagar.me         |
      | `PAGSEGURO`     | SIM    | NÃO    | SIM | NÃO           | NÃO   | NÃO  | NÃO  | PagSeguro        |
      | `REDE`          | SIM    | NÃO    | NÃO | NÃO           | NÃO   | NÃO  | NÃO  | Rede             |
      | `SAFRAPAY`      | SIM    | NÃO    | SIM | NÃO           | NÃO   | NÃO  | NÃO  | Safrapay         |
      | `STRIPE`        | SIM    | SIM    | NÃO | NÃO           | NÃO   | NÃO  | NÃO  | Stripe           |
      | `VR`            | NÃO    | NÃO    | NÃO | NÃO           | NÃO   | NÃO  | SIM  | VR               |
      | `WORLDPAY`      | SIM    | NÃO    | NÃO | NÃO           | NÃO   | NÃO  | NÃO  | Worldpay         | 
      | `ZOOP`          | SIM    | SIM    | SIM | NÃO           | SIM   | NÃO  | NÃO  | Zoop             |
      | `PICPAY`        | SIM    | NÃO    | SIM | NÃO           | NÃO   | NÃO  | NÃO  | Picpay           |

      # Provedores de AntiFraude
      | Provedor      | Realtime | Assíncrono |  Descrição    |
      | ------------  |---       |---         |---------      |
      | `CLEARSALE`   | SIM      | SIM        | Clearsale Realtime Decision e Behaviour Analytics    |

      # Tabela de código de negação para declinedCode

      | DeclinedCode             | ResponseMessage       | O que fazer (ABECS) |
      | --------------------------|-----------  | --------------- |
      | *card_not_supported*        | The card does not support this type of purchase	| UTILIZE FUNÇÃO DÉBITO |
      | *expired_card*              | The card expiration date is invalid	| VERIFIQUE OS DADOS DO CARTÃO |
      | *fraud_confirmed*           | The charge has been declined for confirmed fraud | 	TRANSAÇÃO NÃO PERMITIDA PARA O CARTÃO - NÃO TENTE NOVAMENTE |
      | *fraud_suspect*             | The charge has been declined for suspect it is fraudulent | 	CONTATE A CENTRAL DO SEU CARTÃO |
      | *generic*                   | The card has been declined for a unknown reason | 	CONTATE A CENTRAL DO SEU CARTÃO |
      | *insufficient_funds*        | The card has insufficient funds	|  NÃO AUTORIZADA |
      | *invalid_amount*            | The charge amount is not valid or exceeded maximum allowed	|  VALOR DA TRANSAÇÃO NÃO PERMITIDO |
      | *invalid_cvv*               | The security code is invalid	| SENHA INVÁLIDA |
      | *invalid_data*              | The card has been declined for invalid data	| VERIFIQUE OS DADOS DO CARTÃO |
      | *invalid_installment*       | The charge has been declined because invalid number of installments	| PARCELAMENTO INVÁLIDO |
      | *invalid_merchant*          | The charge has been declined because merchant is not valid	| CONTA ORIGEM INVÁLIDA |
      | *invalid_number*            | The card number is invalid	| VERIFIQUE OS DADOS DO CARTÃO |
      | *invalid_pin*               | The card has been declined because pin is invalid	| SENHA INVÁLIDA |
      | *issuer_not_available*      | The card issuer could not be reached, charge not authorized	| DADOS DO CARTÃO INVÁLIDO |
      | *lost_card*                 | The card has been declined because the card is reported lost	| TRANSAÇÃO NÃO PERMITIDA - NÃO TENTE NOVAMENTE |
      | *not_permitted*             | The charge is not permited to the card	| TRANSAÇÃO NÃO PERMITIDA PARA O CARTÃO |
      | *pickup_card*               | The card cannot be used to make this charges	| CONTATE A CENTRAL DO SEU CARTÃO |
      | *pin_try_exceeded*          | The card has been declined because exceeded maximum pin tries	| EXCEDIDAS TENTATIVAS DE SENHA. CONTATE A CENTRAL DO SEU CARTÃO |
      | *restricted_card*           | The card cannot be used to make this charge	| DESBLOQUEIE O CARTÃO |
      | *security_violation*        | The card has been declined for a unknown reason	| VERIFIQUE OS DADOS DO CARTÃO |
      | *service_not_allowed*       | The card has been declined because do not support international charge	| CARTÃO NÃO PERMITE TRANSAÇÃO INTERNACIONAL |
      | *stolen_card*               | The card has been declined because the card is reported stolen	| TRANSAÇÃO NÃO PERMITIDA - NÃO TENTE NOVAMENTE |
      | *transaction_not_allowed*   | The card has been declined for a unknown reason	| ERRO NO CARTÃO |
      | *try_again*                 | The card has been declined for a unknown reason	| REFAZER A TRANSAÇÃO |

      # Tabela de códigos MCC

      |MCC | Descrição |
      |--------|-----------------|
      |*742*  | VETERINARIA |
      |*744*  | Carefree Resorts |
      |*763*  | COOPERATIVA AGRÍCOLA |
      |*780*  | SERVIÇOS DE PAISAGISMO E HORTICULTURA |
      |*1520* |  EMPREITEIROS EM GERAL - COMERCIAL E RESIDENCIAL |
      |*1711* |  PREST. DE SERV. PARA AR COND., ENCANAMENTO E AQUEC. |
      |*1731* |  ELETRICISTAS E SERVIÇOS ELÉTRICOS |
      |*1740* |  PEDREIROS E SERVIÇOS DE INSTALAÇÃO |
      |*1750* |  MARCENEIROS E SERVIÇOS DE CARPINTARIA |
      |*1761* |  METALURGICOS |
      |*1771* |  EMPREITEIO PARA SERVIÇOS ESPECIALIZADO |
      |*1799* |  DEMAIS SVS DE REFORMA E CONSTRUÇÃO NÃO-CLASSIFICADOS |
      |*2741* |  EDITORAS - PUBLICAÇÕES E IMPRESSÕES |
      |*2791* |  TYPESETTING, PLATE MAKING AND RELATED SERVICES |
      |*2842* |  SERVIÇOS DE LIMPEZA E POLIMENTO |
      |*4011* |  TRANSPORTE FERROVIÁRIO DE CARGA |
      |*4111* |  TRANSPORTE LOCAL DE PASSAGEIROS, INCLUINDO BALSAS |
      |*4112* |  TRANSPORTE DE PASSAGEIROS EM TREM (LONGA DISTÂNCIA) |
      |*4119* |  AMBULANCIAS |
      |*4121* |  LIMUSINES E TÁXIS (TAXICABS AND LIMOUSINES) |
      |*4131* |  COMPANHIAS DE ONIBUS |
      |*4214* |  TRANSPORTE DE CARGA RODOVIÁRIO E ARMAZENAMENTO |
      |*4215* |  CORREIOS - AÉREO, TERRESTRE E TRANSITÓRIOS |
      |*4225* |  ARMAZENAM. PROD AGRÍCOLAS,MERCAD REFRIGERADAS,BENS DOMÉSTICO |
      |*4411* |  LINHAS DE CRUZEROS (CRUISE LINES) |
      |*4457* |  ALUGUEL E ARRENDAMENTO DE BARCOS, ESQUIS E IATES |
      |*4468* |  MARINAS, SERVIÇOS E FORNECEDORES |
      |*4511* |  OUTRAS CIAS AÉREAS |
      |*4582* |  AEROPORTOS E SERVIÇOS LIGADOS A AERONAVES |
      |*4722* |  AGÊNCIAS DE VIAGENS (TRAVEL AGENCIES) |
      |*4723* |  AGÊNCIAS DE VIAGEM TUI (TUI TRAVEL AGENCY) |
      |*4784* |  PEDÁGIOS |
      |*4789* |  SERVIÇOS DE TRANSPORTE |
      |*4812* |  TELEFONES E EQUIPAMENTOS DE TELECOMUN. |
      |*4813* |  SERVIÇOS DE TELEC.- CHAM. LOCAIS E LONGA DISTÂNCIA |
      |*4814* |  SERVIÇOS DE TELECOMUNICAÇÃO |
      |*4816* |  REDES DE COMPUTADORES / SERVIÇOS DE INFORMAÇÃO |
      |*4821* |  TELEGRAFO |
      |*4829* |  ORDENS DE PAGAMENTO POR TRANSFERÊNCIA BANCÁRIA |
      |*4899* |  SERVIÇOS DE TV A CABO/PAGA (CABLE/PAY TV SERVICES) |
      |*4900* |  UTILID./ELEC/GAS/AGUÁ/SANI (UT../ELEC/GAS/H2O/SANI) |
      |*5013* |  ATACADISTAS E DISTRIBUIDORES DE ACESSÓRIOS DE VEÍCULOS |
      |*5021* |  MÓVEIS PARA ESCRITÓRIOS (COMMERCIAL FURNITURE) |
      |*5039* |  MATERIAL PARA CONSTRUÇÃO E AFINS (CONST. MAT. - DEF) |
      |*5044* |  A/D DE EQUIPAMENTOS DE FOTOGRAFIA, CÓPIA E MICROFILME |
      |*5045* |  COMPUTADORES, EQUIPAMENTOS E SOFTWARES |
      |*5046* |  A/D DE MÁQUINAS E EQUIPAMENTOS PARA EC |
      |*5047* |  A/D DE EQUIPAMENTO HOSPITALARES, MÉDICOS E OFTÁLMICOS |
      |*5051* |  CENTROS DE SERVIÇOS DE METAIS (METAL SERVICE CENTERS) |
      |*5065* |  LOJA ARTIGOS ELETRÔNICOS |
      |*5072* |  EQUIP./DISTRIB. DE HARDWARE (HARDWARE EQUIP.SUPPLIES) |
      |*5074* |  EQUIP. DE AQUECIMENTO/ENCANAMENTO (PLUMB./HEAT. E.) |
      |*5085* |  A/D DE SUPRIMENTOS INDUSTRIAIS (NÃO CLASSIFICADO EM OUTRO) |
      |*5094* |  JOALHERIA, PEDRAS PRECIOSAS, METAIS |
      |*5099* |  ATACADISTAS E DISTRIBUIDORES DE MERCADORIAS DURÁVEIS |
      |*5111* |  A/D DE ARTIGOS DE PAPELARIA E SUPRIMENTOS PARA ESCRITÓRIO |
      |*5122* |  FARMACEUTICOS/DROGAS (DRUGS/DRUGGISTS SUNDRIES) |
      |*5131* |  A/D DE TECIDOS E PRODUTOS DE ARMARINHO |
      |*5137* |  ATACADISTAS E DISTRIBUIDORES DE ROUPAS |
      |*5139* |  ATACADISTAS E DISTRIBUIDORES DE CALÇADOS |
      |*5169* |  A/D DE PRODUTOS QUIMICOS E SEMELHANTES (N CLASSIF. EM OUTRO) |
      |*5172* |  PRODUTOS DE PETRÓLEO (PETROLEUM/PETROLEUM PRODUCTS) |
      |*5192* |  ATAC. E DISTRIB. DE LIVROS, PERIÓDICOS E JORNAIS |
      |*5193* |  ATACADISTAS E DISTRIBUIDORES DE FLORES, PLANTAS E SEMENTES |
      |*5198* |  PINTURA, POLIMENTO E SUPRIM. (PAN.,VARN. & SUPPLIES) |
      |*5199* |  A/D DE MERCADORIAS NÃO DURÁVEIS (NÃO CLASSIF. EM OUTRO) |
      |*5200* |  LOJAS DE MATERIAL DE CONSTRUÇÃO (PEQUENO/MÉDIO PORTE) |
      |*5211* |  LOJAS DE MATERIAL DE CONSTRUÇÃO-PRODUTOS BRUTOS (EX: TIJOLO) |
      |*5231* |  LOJAS DE VIDROS, TINTAS E PAPÉIS DE PAREDE |
      |*5251* |  VENDA DE EQUIPAMENTOS, INCLUINDO DE FERRAGEM |
      |*5261* |  JARDINAGEM |
      |*5271* |  CORRETORES DE RESIDÊNCIAS MÓVEIS |
      |*5300* |  VENDA POR ATACADO (WHOLESALE CLUBS) |
      |*5309* |  DUTY FREE STORES |
      |*5310* |  LOJAS DE DESCONTO |
      |*5311* |  LOJAS DE DEPARTAMENTOS (DEPARTMENT STORES) |
      |*5331* |  LOJAS DE VARIEDADES |
      |*5399* |  LOJA MERCADORIAS GERAIS |
      |*5411* |  MERCEARIAS/SUPERMERCADOS (GROCERY STORES/SUPERM.) |
      |*5422* |  AÇOGUEIRO (FREEZER/MEAT LOCKERS) |
      |*5441* |  LOJA DE DOCES |
      |*5451* |  LOJA DE PRODUTOS DE LACTICÍNIOS (DAIRY PROD. STORES) |
      |*5462* |  CONFEITARIAS (BAKERIES) |
      |*5499* |  LOJA DE ALIMENTOS VARIADOS (MISC FOOD S. - DEFAULT) |
      |*5511* |  VENDA DE CARROS E CAMINHÕES (NOVOS E USADOS) |
      |*5521* |  VENDA DE CARROS USADOS |
      |*5531* |  Lojas de Automóveis, Lojas de Acessórios Domésticos |
      |*5532* |  LOJA DE PNEUS |
      |*5533* |  LOJA DE PEÇAS E ACESSÓRIOS DE CARROS |
      |*5541* |  ESTAÇÕES DE SERVIÇOS (SERVICE STATIONS) |
      |*5551* |  VENDA DE BARCOS MOTORIZADOS |
      |*5561* |  ARTIGOS PARA ACAMPAMENTO |
      |*5571* |  LOJAS DE MOTOCICLETAS E ACESSÓRIOS |
      |*5592* |  VENDA DE TRAILLERS |
      |*5598* |  CONSECIONÁRIA DE SNOWMOBILE |
      |*5599* |  SERVIÇOS GERIAS PARA CARROS |
      |*5611* |  ARTIGOS MASCULINOS |
      |*5621* |  LOJA DE ROUPAS FEMININAS "PRONTA PARA USAR" |
      |*5631* |  ACESSORIOS FEMININOS E LINGERIES |
      |*5641* |  ARTIGOS PARA CRIANÇAS E BEBÊS |
      |*5651* |  ROUPAS MASCULINAS, FEMININAS E INFANTIS |
      |*5655* |  ROUPA ESPORTIVA |
      |*5661* |  LOJAS DE SAPATOS |
      |*5681* |  LOJA DE PELES |
      |*5691* |  OJA ROUPA UNISSEX |
      |*5697* |  COSTUREIRAS E ALFAIATES |
      |*5698* |  LOJAS DE PERUCA |
      |*5699* |  SERVIÇOS GERIAS PARA VESTIMENTA |
      |*5712* |  LOJA DE MÓVEIS |
      |*5713* |  Loja de Pisos |
      |*5714* |  LOJA DE ESTOFADOS (DRAPERY & UPHOLSTERY STORES) |
      |*5718* |  LAREIRAS E ACESSÓRIOS (FIREPLACES & ACCESSORIES) |
      |*5719* |  LOJA DE MÓVEIS ESPECIALIZADA (HOME FURNISHING SPEC.) |
      |*5722* |  LOJAS DE ELETRODOMÉSTICOS |
      |*5732* |  LOJA DE ELETRÔNICOS |
      |*5733* |  LOJA INSTRUMENTO MUSICAIS |
      |*5734* |  LOJA DE SOFTWARE |
      |*5735* |  LOJAS DE DISCOS |
      |*5811* |  DISTRIBUIÇÃO E PRODUÇÃO DE ALIMENTOS |
      |*5812* |  RESTAURANTES |
      |*5813* |  BARES, PUBS E CASA NOTURNAS |
      |*5814* |  LANCHONETES DE COMIDAS RÁPIDAS (FAST FOOD) |
      |*5815* |  Produtos Digitais - De comunicação social audiovisual, incluindo Livros, Filmes e Música |
      |*5816* |  Pordutos Digitais - Jogos |
      |*5817* |  Produtos Digitais - Aplicativos de Software (Exceto Jogos) |
      |*5818* |  Produtos Digitais - Diversas Categorias |
      |*5912* |  FARMÁCIAS (DRUG STORES & PHARMACIES) |
      |*5921* |  CERVEJAS, VINHOS E LICORES (STORE/BEER/WINE/LIQUOR) |
      |*5931* |  LOJAS DE ARTIGOS DE SEGUNDA MÃO / BRECHÓS |
      |*5932* |  LOJA DE ANTIGUIDADES (ANTIQUE SHOPS) |
      |*5933* |  LOJAS DE PENHORES |
      |*5935* |  DEMOLIÇÕES, SUCATAS, DESMANCHES DE AUTOMÓVEIS |
      |*5937* |  L. DE REPRODUÇÃO DE ANTIQUIDADES (ANT.REPROD. STORES) |
      |*5940* |  LOJA DE BICICLETAS - VENDAS E SERVIÇOS |
      |*5941* |  SERVIÇOS GERAIS PARA ESPORTES |
      |*5942* |  LIVRARIAS |
      |*5943* |  PAPELARIAS |
      |*5944* |  JOALHERIA (JEWERLY STORE) |
      |*5945* |  LOJA DE BRINQUEDOS |
      |*5946* |  LOJA DE FOTOGRAFIA |
      |*5947* |  LOJA DE PRESENTES |
      |*5948* |  ARTIGOS DE COURO |
      |*5949* |  ARMARINHOS E LOJAS DE TECIDO |
      |*5950* |  LOJA DE COPOS/CRISTAIS (GLASSWARE/CRYSTAL STORES) |
      |*5960* |  MARK.DIRETO DE SEGUROS (DIR. MARKET. INSURANCE SVC) |
      |*5962* |  SERV. DIRETOS DE VIAGENS (D. MKTG-TRAV. RELATED ARR) |
      |*5963* |  VENDA DIRETA (DIRECT SELL/DOOR-TO-DOOR) |
      |*5964* |  CATALOGO DE COMERCIOS (CATALOG MERCHANT) |
      |*5965* |  CATÁLOGO DE VAREJO (COMB.CATALOG & RETAIL) |
      |*5966* |  MARKETING DIRETO-SAÍDA (OUTB. TELEMARKETING M.) |
      |*5967* |  MARKETING DIRETO - ENTRADA (INB. TELEMARKETING M.) |
      |*5968* |  ASSINATURA COMERCIAL (CONTINUITY/SUBSCRIP. MERCHANT) |
      |*5969* |  OUTROS VENDEDORES DE MARKETING DIRETO |
      |*5970* |  PRODUTOS ARTESANAIS |
      |*5971* |  GALERIA DE ARTE (ART DEALERS & GALLERIES) |
      |*5972* |  LOJA DE MOEDAS E SELOS |
      |*5973* |  LOJA DE BENS RELIGIOSOS |
      |*5975* |  APARELHOS AUDITIVOS - VENDAS E SERVIÇOS |
      |*5976* |  BENS ORTOPÉDICOS - PRÓTESES |
      |*5977* |  LOJA DE COSMÉTICOS |
      |*5978* |  MÁQUINAS DE ESCREVER - VENDA, ALUGUEL E SERVIÇOS |
      |*5983* |  REVENDEDORES DE COMBUSTÍVEIS (FUEL DEALERS) |
      |*5992* |  FLORICULTURA |
      |*5993* |  TABACARIA |
      |*5994* |  BANCA DE JORNAL E PROVEDOR DE NOTÍCIAS |
      |*5995* |  PET SHOP |
      |*5996* |  PISCINAS E BANHEIRAS - SERVIÇOS, SUPRIMENTOS E VENDAS |
      |*5997* |  NAVALHA ELÉTRICA - VENDA E SERVIÇOS |
      |*5998* |  LOJAS DE BARRACAS E TOLDOS |
      |*5999* |  LOJAS ESPECIALIZADAS NÃO LISTADAS ANTERIOMENTE |
      |*6010* |  BANCOS / LOJAS DE POUPANÇA E INST. FINANCEIRA |
      |*6011* |  INSTIUIÇÃO FINANCEIRA - CAIXA ELETRÔNICO |
      |*6012* |  INSTIUIÇÃO FINANCEIRA - AGÊNCIAS E SERVIÇOS |
      |*6050* |  Similar a Dinheiro (Quase Cash) - Instituição Financeira Cliente |
      |*6051* |  CASAS DE CÂMBIO |
      |*6211* |  CORRETORES DE IMÓVEIS (SECURITIES BROKERS/DEALERS) |
      |*6300* |  VENDA DE SEGUROS(INSURANCE SALES/UNDERWRITE) |
      |*6513* |  CORRETOR DE IMÓVEIS (ALUGUEL) |
      |*6532* |  PAGTOS DE TRANSAÇÕES DE INST.FINANCEIRAS |
      |*6533* |  PAGTOS DE TRANSAÇÕES COMERCIAIS |
      |*7011* |  HOTEIS (HOTELS/MOTELS/RESORTS) |
      |*7012* |  TEMPO COMPARTILHADO (TIMESHARE) |
      |*7032* |  ACAMPAMENTOS RECREATIVOS E DEPORTIVOS |
      |*7033* |  SERVIÇOS DE ACAMPAMENTOS |
      |*7210* |  LAVANDARIA, LIMPEZA E SERVIÇOS DE VESTUÁRIO |
      |*7211* |  LAVANDERIA - FAMILIAR E COMERCIAL |
      |*7216* |  LAVANDERIA TINTURARIA |
      |*7217* |  LIMPEZA DE TAPETES E ESTOFADOS |
      |*7221* |  ESTÚDIOS DE FOTOGRAFIA |
      |*7230* |  SALAO DE BELEZA / BARBEARIA / DEPILAÇÃO / MANICURE |
      |*7251* |  LOJA/REPARO DE SAPATOS |
      |*7261* |  SERVIÇO FUNERÁRIO |
      |*7273* |  SERVIÇO DE ENCONTROS E ACOMPANHANTE |
      |*7276* |  SERVIÇOS DE PREP. IMPOST. DE RENDA (TAX PREP. SVCS) |
      |*7277* |  S. DE ACONSELHAMENTO DE DÍVIDAS, CASAMENTO E PESSOAL |
      |*7278* |  CLUBES DE COMPRAS |
      |*7296* |  ALUGUEL DE ROUPAS - FANTASIAS, UNIFORMES E ROUPAS SOCIAIS |
      |*7297* |  CENTRO DE SAUNAS E MASSAGENS |
      |*7298* |  CLÍNICAS DE ESTÉTICA FACIAL / CORPORAL |
      |*7299* |  OUTROS SERVIÇOS PESSOAIS |
      |*7311* |  PUBLICIDADES |
      |*7321* |  AGÊNCIAS DE ANÁLISE DE CRÉDITO DE CONSUMIDORES |
      |*7333* |  SERVIÇOS DE IMPRESSÃO E ARTE GRÁFICA |
      |*7338* |  COPIADORAS E FOTOCOPIADORAS |
      |*7339* |  SERVIÇO DE SECRETARIADO E ESTENOGRAFIA |
      |*7342* |  DEDETIZAÇÃO E DESINFECÇÃO |
      |*7343* |  SERVIÇO DE EXTERMINIO E DESINFETAÇÃO |
      |*7349* |  SERVIÇO LIMPEZA E MANUTENÇÃO |
      |*7361* |  AGÊNCIAS DE EMPREGO |
      |*7372* |  SERVIÇOS DE PROGRAMAÇÃO DE COMPUTADORES E PROCESS. DE DADOS |
      |*7375* |  SERVIÇO DE RECUPERAÇÃO DE INFORMAÇÃO |
      |*7379* |  COMPUTADORES: CONCERTOS E REPAROS |
      |*7392* |  CONSULTORIA EMPRESARIAL E SERVIÇOS DE RELAÇÕES PÚBLICAS |
      |*7393* |  AGÊNCIAS DE DETETIVES, PROTECÇÃO E DE SEGURANÇA |
      |*7394* |  ALUGUEL DE EQUIPAMENTO E MOBÍLIA DE ESCRITÓRIOS |
      |*7395* |  LABORATÓRIOS FOTOGRÁFICOS |
      |*7399* |  SERVIÇOS DE NEGÓCIOS |
      |*7511* |  PARADA DE CAMINHÕES (TRUCK STOP) |
      |*7512* |  ALUGUEL DE AUTOMÓVEIS (AUTOMOBILE RENTAL AGENCY) |
      |*7513* |  ALUGUEL DE CAMINHÕES (TRUCK/UTILITY TRAILER RENTALS) |
      |*7519* |  ALUGUEL DE MOTOR HOME (MOTOR HOME/RV RENTALS) |
      |*7523* |  ESTACIONAMENTOS E GARAGENS DE CARRO |
      |*7531* |  FUNILARIAS E PINTURA AUTOMOTIVA |
      |*7534* |  BORRACHARIAS |
      |*7535* |  LOJAS DE PINTURA DE AUTTOMÓVEIS |
      |*7538* |  SERVIÇOS PARA CARROS (NÃO CONCESIONARIA) |
      |*7542* |  LAVA JATO |
      |*7549* |  GUINCHO |
      |*7622* |  CONSERTO DE EQUIP. AUDIO E TV |
      |*7623* |  CONSERTO DE AR CONDICIONADO |
      |*7629* |  CONSERTO DE ELETRONICOS |
      |*7631* |  CONSERTO DE RELÓGIOS E JÓIAS |
      |*7641* |  RESTAURAÇÃO DE MÓVEIS (FURNITURE REPAIR) |
      |*7692* |  SERRALHEIROS E SOLDADORES |
      |*7699* |  LOJA DE CONSERTOS GERAIS E SERVIÇOS RELACIONADOS |
      |*7829* |  PRODUTORES E DISTRIBUIDORES DE FILMES |
      |*7832* |  CINEMAS, PRODUÇÕES CINEMATOGRÁFICAS |
      |*7841* |  LOJAS DE VIDEOS |
      |*7911* |  DANÇA (ESTUDIOS, ESCOLAS E SALÕES) |
      |*7922* |  TEATROS, PRODUC. TEATR. E ESPECTAC. |
      |*7929* |  BANDAS,ORQUESTRAS,ARTISTAS DIVERSOS(N CLASSIFICADO EM OUTRO) |
      |*7932* |  BARES DE SINUCA |
      |*7933* |  BOLICHE |
      |*7941* |  QUADRAS DE ESPORTE / PROPAGANDA ESPORTIVA |
      |*7991* |  ATRAÇÕES TURÍSTICAS E EXPOSIÇÕES |
      |*7992* |  AULAS DE GOLF PUBLICA |
      |*7993* |  FORNECEDORES DE MÁQUINAS DE VIDEOGAME OU JOGOS |
      |*7994* |  LOJAS DE DIVERSÃO / VIDEO GAME / LAN HOUSE / CIBER CAFÉ |
      |*7995* |  CASSINOS, LOTERIAS E JOGOS DE AZAR |
      |*7996* |  PARQUE DE DIVERSAO, CIRCO E AFINS |
      |*7997* |  ACADEMIAS / CLUBES |
      |*7998* |  AQUÁRIOS E ZOOLÓGICOS |
      |*7999* |  SERVIÇOS DE RECREAÇÃO E FESTAS |
      |*8011* |  MÉDICOS (CLÍNICAS E CONSULTÓRIOS) |
      |*8021* |  DENTISTAS E ORTODONTISTAS (CLÍNICAS E CONSULTÓRIOS) |
      |*8031* |  OSTEOPATAS |
      |*8041* |  QUIROPRAXIA |
      |*8042* |  OFTAMOLOGISTA E OPTOMETRISTAS |
      |*8043* |  OPTICIANS, OPTICAL GOODS, AND EYEGLASSES |
      |*8049* |  TRATAMENTOS PODIÁTRICOS |
      |*8050* |  CASAS DE REPOUSO, CLÍN. DE RECUPERAÇÃO E ENFERMAGEM |
      |*8062* |  HOSPITAIS |
      |*8071* |  ANALISES CLÍNICAS MÉDICAS E DENTAIS |
      |*8099* |  MEDICINA EM GERAL E PRATICANTES DE SERVIÇOS DE SAÚDE |
      |*8111* |  SERVIÇOS JURÍDICOS - ADVOGADOS |
      |*8211* |  EDUCAÇÃO PRIMÁRIA E SECUNDÁRIA (ELEM./SEC.S.) |
      |*8220* |  UNIVERSIDADES E FACULDADES (COLLEGES/UNIV/JC/PROF.) |
      |*8241* |  EDUACAÇÃO A DISTÂNCIA (CORRESPONDENCE SCHOOLS) |
      |*8244* |  ESCOLA DE COMÉRCIOS E SECRETARIADO (BUS./SEC. SCHOOL) |
      |*8249* |  ESCOLA DE NEGÓCIOS/VOCAÇÕES (TRADE/VOCATIONS S.) |
      |*8299* |  COLEGIOS (SCHOOLS) |
      |*8351* |  SERVIÇOS DE CUIDADOS DE CRIANÇAS (CHILD CARE SVCS) |
      |*8398* |  ORGANIZAÇÕES DE SERVIÇOS BENEFICENTES E SOCIAIS |
      |*8641* |  ASSOCIAÇÕES CÍVICAS E SOCIAIS |
      |*8651* |  ORGANIZAÇÕES POLITICAS |
      |*8661* |  ORGANIZAÇÕES RELIGIOSAS |
      |*8675* |  ASSOCIAÇÃO DE CARROS |
      |*8699* |  ORG. SIND., ASSOC. CULT. E OTRS ASSOC. NÃO CLASSIF. |
      |*8734* |  LABORATÓRIOS DE TESTE (PARA TESTES NÃO MÉDICOS) |
      |*8911* |  ARQUIRETURA, ENGENHARIA E AGRIMENSURA |
      |*8931* |  CONTABILIDADE, AUDITORIA E SERVIÇOS DE CONTABILIDADE |
      |*8999* |  OUTROS SERVIÇOS PROFISSIONAIS DE ESPECIALIZADOS |
      |*9211* |  PENSÃO ALIMENTÍCIA (COURT COSTS/ALIMONY/SUPPORT) |
      |*9222* |  MULTAS (FINES) |
      |*9223* |  PAGAMENTOS DE TÍTULOS E FINANÇAS (BAIL AND BOND P.) |
      |*9311* |  PAGAMENTOS DE IMPOSTOS (TAX PAYMENTS) |
      |*9399* |  SERVIÇOS GOVERNAMENTAIS (GOVT SERV - DEFAULT) |
      |*9402* |  POSTAGENS (POSTAGE STAMPS) |
      |*9405* |  COMPRAS GOVERNAMENTAIS (INTRA-GOVERNMENT PURCHASES) |
      |*9406* |  Loteria de Propriedade do Governo (Países Específicos |
      |*9950* |  DEPART. DE COMPRAS (INTRA- COMPANY PURCHASES) |

      # Tabela tipos de moedas aceitas

      | Currency Code | Currency |
      | ----- |----------------------- |
      | **BRL** | 	Brazilian real  |
      | *USD*  | 	United States dollar  |
      | *EUR*  | 	Euro  |
      | *YER*  | 	Yemeni rial |
      | *ZAR*  | 	South African rand  |
      | *AED*  | 	United Arab Emirates dirham |
      | *AFN*  | 	Afghan afghani  |
      | *ALL*  | 	Albanian lek  |
      | *AMD*  | 	Armenian dram |
      | *ANG*  | 	Netherlands Antillean guilder |
      | *AOA*  | 	Angolan kwanza  |
      | *ARS*  | 	Argentine peso  |
      | *AUD*  | 	Australian dollar |
      | *AWG*  | 	Aruban florin |
      | *AZN*  | 	Azerbaijani manat |
      | *BAM*  | 	Bosnia and Herzegovina convertible mark |
      | *BBD*  | 	Barbados dollar |
      | *BDT*  | 	Bangladeshi taka  |
      | *BGN*  | 	Bulgarian lev |
      | *BIF*  | 	Burundian franc |
      | *BMD*  | 	Bermudian dollar  |
      | *BND*  | 	Brunei dollar |
      | *BOB*  | 	Boliviano |
      | *BSD*  | 	Bahamian dollar |
      | *BWP*  | 	Botswana pula |
      | *BZD*  | 	Belize dollar |
      | *CAD*  | 	Canadian dollar |
      | *CDF*  | 	Congolese franc |
      | *CHF*  | 	Swiss franc |
      | *CLP*  | 	Chilean peso  |
      | *CNY*  | 	Chinese yuan[8] |
      | *COP*  | 	Colombian peso  |
      | *CRC*  | 	Costa Rican colon |
      | *CVE*  | 	Cape Verdean escudo |
      | *CZK*  | 	Czech koruna  |
      | *DJF*  | 	Djiboutian franc  |
      | *DKK*  | 	Danish krone  |
      | *DOP*  | 	Dominican peso  |
      | *DZD*  | 	Algerian dinar  |
      | *EGP*  | 	Egyptian pound  |
      | *ETB*  | 	Ethiopian birr  |
      | *ZMW*  | 	Zambian kwacha  |
      | *FJD*  | 	Fiji dollar |
      | *FKP*  | 	Falkland Islands pound  |
      | *GBP*  | 	Pound sterling  |
      | *GEL*  | 	Georgian lari |
      | *GIP*  | 	Gibraltar pound |
      | *GMD*  | 	Gambian dalasi  |
      | *GNF*  | 	Guinean franc |
      | *GTQ*  | 	Guatemalan quetzal  |
      | *GYD*  | 	Guyanese dollar |
      | *HKD*  | 	Hong Kong dollar  |
      | *HNL*  | 	Honduran lempira  |
      | *HRK*  | 	Croatian kuna |
      | *HTG*  | 	Haitian gourde  |
      | *HUF*  | 	Hungarian forint  |
      | *IDR*  | 	Indonesian rupiah |
      | *ILS*  | 	Israeli new shekel  |
      | *INR*  | 	Indian rupee  |
      | *ISK*  | 	Icelandic króna |
      | *JMD*  | 	Jamaican dollar |
      | *JPY*  | 	Japanese yen  |
      | *KES*  | 	Kenyan shilling |
      | *KGS*  | 	Kyrgyzstani som |
      | *KHR*  | 	Cambodian riel  |
      | *KMF*  | 	Comoro franc  |
      | *KRW*  | 	South Korean won  |
      | *KYD*  | 	Cayman Islands dollar |
      | *KZT*  | 	Kazakhstani tenge |
      | *LAK*  | 	Lao kip |
      | *LBP*  | 	Lebanese pound  |
      | *LKR*  | 	Sri Lankan rupee  |
      | *LRD*  | 	Liberian dollar |
      | *LSL*  | 	Lesotho loti  |
      | *MAD*  | 	Moroccan dirham |
      | *MDL*  | 	Moldovan leu  |
      | *MGA*  | 	Malagasy ariary |
      | *MKD*  | 	Macedonian denar  |
      | *MMK*  | 	Myanmar kyat  |
      | *MNT*  | 	Mongolian tögrög  |
      | *MOP*  | 	Macanese pataca |
      | *MRO*  | 	Macanese pataca |
      | *MUR*  | 	Mauritian rupee |
      | *MVR*  | 	Maldivian rufiyaa |
      | *MWK*  | 	Malawian kwacha |
      | *MXN*  | 	Mexican peso  |
      | *MYR*  | 	Malaysian ringgit |
      | *MZN*  | 	Mozambican metical  |
      | *NAD*  | 	Namibian dollar |
      | *NGN*  | 	Nigerian naira  |
      | *NIO*  | 	Nicaraguan córdoba  |
      | *NOK*  | 	Norwegian krone |
      | *NPR*  | 	Nepalese rupee  |
      | *NZD*  | 	New Zealand dollar  |
      | *PAB*  | 	Panamanian balboa |
      | *PEN*  | 	Peruvian sol  |
      | *PGK*  | 	Papua New Guinean kina  |
      | *PHP*  | 	Philippine peso[12] |
      | *PKR*  | 	Pakistani rupee |
      | *PLN*  | 	Polish złoty  |
      | *PYG*  | 	Paraguayan guaraní  |
      | *QAR*  | 	Qatari riyal  |
      | *RON*  | 	Romanian leu  |
      | *RSD*  | 	Serbian dinar |
      | *RUB*  | 	Russian ruble |
      | *RWF*  | 	Rwandan franc |
      | *SAR*  | 	Saudi riyal |
      | *SBD*  | 	Solomon Islands dollar  |
      | *SCR*  | 	Seychelles rupee  |
      | *SEK*  | 	Swedish krona/kronor  |
      | *SGD*  | 	Singapore dollar  |
      | *SHP*  | 	Saint Helena pound  |
      | *SLL*  | 	Sierra Leonean leone  |
      | *SOS*  | 	Somali shilling |
      | *SRD*  | 	Surinamese dollar |
      | *STD*  | 	South Sudanese pound  |
      | *SZL*  | 	Swazi lilangeni |
      | *THB*  | 	Thai baht |
      | *TJS*  | 	Tajikistani somoni  |
      | *TOP*  | 	Tongan paʻanga  |
      | *TRY*  | 	Turkish lira  |
      | *TTD*  | 	Trinidad and Tobago dollar  |
      | *TWD*  | 	New Taiwan dollar |
      | *TZS*  | 	Tanzanian shilling  |
      | *UAH*  | 	Ukrainian hryvnia |
      | *UGX*  | 	Ugandan shilling  |
      | *UYU*  | 	Uruguayan peso  |
      | *UZS*  | 	Uzbekistan som  |
      | *VND*  | 	Vietnamese đồng |
      | *VUV*  | 	Vanuatu vatu  |
      | *WST*  | 	Samoan tala |
      | *XAF*  | 	CFA franc BEAC  |
      | *XCD*  | 	East Caribbean dollar |
      | *XOF*  | 	CFA franc BCEAO |
      | *XPF*  | 	CFP franc (franc Pacifique) |

      # Tabela tipos de paises e documentos cadastro de Customer

      | Country Code | Document Type            | Group              | Country                | Meaning                                                                             |
      | ---- | --------------- | ------------------ | ---------------------- | ----------------------------------------------------------------------------------- |
      | *AL*   | *NIPT*            | Vat                | Albania                | Vat Identifier (Numri i Identifikimit për Personin e Tatueshëm)                     |
      | *AD*   | *NRT*             | Tax                | Andorra                | Tax Identifier (Número de Registre Tributari)                                       |
      | *AR*   | *CBU*             | Bank               | Argentina              | Bank Account (Clave Bancaria Uniforme)                                              |
      | *AR*   | *CUIT*            | Tax                | Argentina              | Tax Identity (Código Único de Identificación Tributaria)                            |
      | *AR*   | *DNI*             | Person             | Argentina              | National Identity (Documento Nacional de Identidad)                                 |
      | *AT*   | *Businessid*      | Company            | Austria                | Austrian Company Register Numbers                                                   |
      | *AT*   | *TIN*             | Tax                | Austria                | Austrian tax identification number (Abgabenkontonummer)                             |
      | *AT*   | *UID*             | VAT                | Austria                | Austrian VAT number (Umsatzsteuer-Identifikationsnummer)                            |
      | *AT*   | *VNR*             | Person             | Austria                | Austrian social security number(Versicherungsnummer)                                |
      | *AU*   | *ABN*             | Company            | Australia              | Australian Business Number                                                          |
      | *AU*   | *ACN*             | Company            | Australia              | Australian Company Number                                                           |
      | *AU*   | *TFN*             | Tax/Person/Company | Australia              | Australian Tax File Number                                                          |
      | *BA*   | *JMBG*            | Person             | Bosnia and Herzegovina | Unique Master Citizen Number                                                        |
      | *BZ*   | *TIN*             | Person/Company     | Belize                 | Brazilian Tax ID ()                                                                 |
      | *BE*   | *VAT*             | Company            | Belgium                | Belgian Enterprise Number                                                           |
      | *BG*   | *EGN*             | Person             | Bulgaria               | ЕГН, Единен граждански номер, Bulgarian personal identity codes                     |
      | *BG*   | *PNF*             | Person             | Bulgaria               | PNF (ЛНЧ, Личен номер на чужденец, Bulgarian number of a foreigner).                |
      | *BG*   | *VAT*             | Company            | Bulgaria               | Идентификационен номер по ДДС, Bulgarian VAT number                                 |
      | *BR*   | *CPF*             | Person             | Brazil                 | Brazilian identity number (Cadastro de Pessoas Físicas)                             |
      | *BR*   | *CNPJ*            | Company            | Brazil                 | Brazilian company number (Cadastro Nacional da Pessoa Jurídica)                     |
      | *BY*   | *UNP*             | Person/Company     | Belarus                | Учетный номер плательщика, the Belarus VAT number                                   |
      | *CA*   | *BN*              | Company            | Canada                 | Company Identifier (Canadian Business Number)                                       |
      | *CA*   | *SIN*             | Person             | Canada                 | Person Identifier (Social Insurance Number)                                         |
      | *CU*   | *NI*              | Person             | Cuba                   | Número de identidad, Cuban identity card numbers                                    |
      | *CY*   | *VAT*             | Company            | Cyprus                 | Αριθμός Εγγραφής Φ.Π.Α. (Cypriot VAT number)                                        |
      | *CZ*   | *DIC*             | Company            | Czech Republic         | Daňové identifikační číslo, Czech VAT number                                        |
      | *CZ*   | *RC*              | Person             | Czech Republic         | Rodné číslo, the Czech birth number                                                 |
      | *CH*   | *SSN*             | Person             | Swisserland            | Swiss social security number ("Sozialversicherungsnummer")                          |
      | *CH*   | *UID*             | Company            | Swisserland            | Unternehmens-Identifikationsnummer, Swiss business identifier                       |
      | *CH*   | *VAT*             | Company            | Swisserland            | Mehrwertsteuernummer, the Swiss VAT number                                          |
      | *CL*   | *RUT*             | Tax                | Chile                  | Tax Identifier (Rol Unico Tributario) [RUN]                                         |
      | *CN*   | *RIC*             | Person             | China                  | Person Identifier (Chinese Resident Identity Card Number)                           |
      | *CN*   | *USCC*            | Company            | China                  | Company Identifier (Unified Social Credit Code, 统一社会信用代码, China tax number) |
      | *CO*   | *NIT*             | Tax                | Columbia               | Tax Identifier (Número de Identificación Tributaria)                                |
      | *CR*   | *CPF*             | Person             | Costa Rica             | Person Identifier (Cédula de Persona Física)                                        |
      | *CR*   | *CPJ*             | Company            | Costa Rica             | Company Identifier (Cédula de Persona Jurídica)                                     |
      | *CR*   | *CR*              | Person             | Costa Rica             | Person Identifier (Cédula de Residencia)                                            |
      | *DE*   | *IDNR*            | Person             | Germany                | Steuerliche Identifikationsnummer, German personal tax number                       |
      | *DE*   | *STNR*            | Company            | Germany                | Steuernummer, German tax number                                                     |
      | *DE*   | *VAT*             | Company            | Germany                | Vat identifier                                                                      |
      | *DK*   | *VAT*             | Company            | Denmark                | Momsregistreringsnummer, Danish VAT number                                          |
      | *DO*   | *CEDULA*          | Person             | Dominican Republic     | Person Identifier (Cédula de Residencia)                                            |
      | *DO*   | *NCF*             | Vat                | Dominican Republic     | Tax Receipt Number (Números de Comprobante Fiscal)                                  |
      | *DO*   | *RNC*             | Tax                | Dominican Republic     | Person Identifier (Registro Nacional del Contribuyente)                             |
      | *EC*   | *CI*              | Person             | Ecuador                | Ecuadorian person identifier (Cédula de identidad)                                  |
      | *EE*   | *IK*              | Person             | Estonia                | Isikukood (Estonian Personcal ID number).                                           |
      | *EE*   | *KMKR*            | Company            | Estonia                | KMKR (Käibemaksukohuslase, Estonian VAT number)                                     |
      | *EE*   | *Registrikood*    | Company            | Estonia                | Registrikood (Estonian organisation registration code)                              |
      | *EC*   | *RUC*             | Tax/Vat            | Ecuador                | Ecuadorian company tax number (Registro Único de Contribuyentes)                    |
      | *SV*   | *NIT*             | Tax                | El Salvador            | Tax Identifier (Número de Identificación Tributaria)                                |
      | *GT*   | *CUI*             | Person             | Guatemala              | Guatemala person (Código Único de Identificación)                                   |
      | *GT*   | *NIT*             | Company            | Guatemala              | Guatemala company tax number (Número de Identificación Tributaria)                  |
      | *FI*   | *ALV*             | Company            | Finland                | ALV nro (Arvonlisäveronumero, Finnish VAT number)                                   |
      | *FI*   | *HETU*            | Person             | Finland                | HETU (Henkilötunnus, Finnish personal identity code)                                |
      | *FI*   | *YTUNNUS*         | Company            | Finland                | Y-tunnus (Finnish business identifier)                                              |
      | *FR*   | *NIF*             | Person             | France                 | NIF (Numéro d'Immatriculation Fiscale, French tax identification number)            |
      | *GB*   | *UTR*             | Person             | Great Brittan          | UTR (United Kingdom Unique Taxpayer Reference)                                      |
      | *GB*   | *VAT*             | Company            | Great Brittan          | VAT (United Kingdom (and Isle of Man) VAT registration number)                      |
      | *GR*   | *AMKA*            | Company            | Greece                 | AMKA (Αριθμός Μητρώου Κοινωνικής Ασφάλισης, Greek social security number)           |
      | *GR*   | *VAT*             | Company            | Greece                 | FPA, ΦΠΑ, ΑΦΜ (Αριθμός Φορολογικού Μητρώου, the Greek VAT number)                   |
      | *FR*   | *NIR*             | Person             | France                 | NIR (French personal identification number)                                         |
      | *FR*   | *SIREN*           | Company            | France                 | SIREN (a French company identification number)                                      |
      | *FR*   | *SIRET*           | Company            | France                 | SIRET (a French company establishment identification number)                        |
      | *FR*   | *TVA*             | Vat                | France                 | VAT Identifier                                                                      |
      | *HR*   | *OIB*             | Person             | Croatia                | Osobni identifikacijski broj, Croatian identification number                        |
      | *HK*   | *HKID*            | Person             | Hong Kong              | Hong Kong Identity Card                                                             |
      | *HU*   | *ANUM*            | Vat                | Hungaria               | ANUM (Közösségi adószám, Hungarian VAT number)                                      |
      | *IS*   | *KENNITALA*       | Person/Company     | Iceland                | Icelandic personal and organisation identity code                                   |
      | *IS*   | *VSK*             | Vat                | Iceland                | Virðisaukaskattsnúmer, Icelandic VAT number                                         |
      | *ID*   | *NPWP*            | Person/Company     | Indonesia              | NPWP (Nomor Pokok Wajib Pajak, Indonesian VAT Number).                              |
      | *IE*   | *PPS*             | Person             | Ireland                | Personal Public Service Number, Irish personal number                               |
      | *IE*   | *VAT*             | Tax/Vat            | Ireland                | Ireland Value Added Tax ID                                                          |
      | *IN*   | *AADHAAR*         | Company            | India                  | Indian digital resident personal identity number                                    |
      | *IN*   | *PAN*             | Person             | India                  | Permanent Account Number, Indian income tax identifier                              |
      | *IL*   | *IDNR*            | Person             | Israel                 | Identity Number (Mispar Zehut, מספר זהות, Israeli identity number)                  |
      | *IL*   | *HR*              | Company            | Israel                 | Company Number (מספר חברה, or short ח.פ. Israeli company number)                    |
      | *IT*   | *AIC*             | Drug               | Italy                  | Italian code for identification of drugs                                            |
      | *IT*   | *CODICEFISCALE*   | Person             | Italy                  | Codice Fiscale (Italian tax code for individuals)                                   |
      | *IT*   | *IVA*             | Vat                | Italy                  | Partita IVA (Italian VAT number)                                                    |
      | *LI*   | *PEID*            | Person/Company     | Liechtenstein          | Personenidentifikationsnummer                                                       |
      | *LT*   | *ASMENS*          | Person             | Lithuanian             | Asmens kodas (Person Number)                                                        |
      | *LT*   | *PVM*             | Vat                | Lithuanian             | Pridėtinės vertės mokestis mokėtojo kodas                                           |
      | *LU*   | *TVA*             | Vat                | Luxembourgian          | taxe sur la valeur ajoutée                                                          |
      | *LV*   | *PVN*             | Person/Vat         | Latvian                | Pievienotās vērtības nodokļa                                                        |
      | *MK*   | *JMBG*            | Person             | Macedonia              | Unique Master Citizen Number (Единствен матичен број на граѓанинот)                 |
      | *MC*   | *TVA*             | Vat                | Monaco                 | taxe sur la valeur ajoutée, Monacan VAT number                                      |
      | *MD*   | *IDNO*            | Vat                | Moldavia               | Moldavian VAT number                                                                |
      | *MT*   | *VAT*             | Vat                | Malta                  | Maltese VAT number                                                                  |
      | *MU*   | *NID*             | Person             | Mauritius              | ID number (Mauritian national identifier)                                           |
      | *JP*   | *CN*              | Company            | Japan                  | 法人番号, hōjin bangō, Japanese Corporate Number                                    |
      | *KR*   | *BRN*             | Company            | South Korea            | 사업자 등록 번호, South Korea Business Registration Number)                         |
      | *KR*   | *RRN*             | Person             | South Korea            | South Korean resident registration number                                           |
      | *MX*   | *RFC*             | Tax/Vat            | Mexico                 | Tax Identifier (Registro Federal de Contribuyentes)                                 |
      | *MX*   | *CURP*            | Person             | Mexico                 | Individual Identifier (Clave Única de Registro de Población)                        |
      | *MX*   | *CLABE*           | Bank               | Mexico                 | Bank Account (Clave Bancaria Estandarizada)                                         |
      | *ME*   | *JMBG*            | Person             | Montenegro             | Unique Master Citizen Number                                                        |
      | *MY*   | *NRIC*            | Person             | Malaysia               | Malaysian National Registration Identity Card Number                                |
      | *NL*   | *BSN*             | Person             | Netherlands            | Burgerservicenummer, the Dutch citizen identification number                        |
      | *NL*   | *BTW*             | Vat                | Netherlands            | Btw-identificatienummer (Omzetbelastingnummer, the Dutch VAT number)                |
      | *NL*   | *Onderwijsnummer* | Person             | Netherlands            | Onderwijsnummer (the Dutch student identification number)                           |
      | *NZ*   | *IRD*             | Person/Company     | New Zealand            | New Zealand Inland Revenue Department (Te Tari Tāke) number                         |
      | *NZ*   | *BANK*            | Bank               | New Zealand            | New Zealand Bank Account numbers - checkdigit                                       |
      | *NO*   | *Fodsels*         | Person             | Norway                 | Fødselsnummer (Norwegian birth number, the national identity number)                |
      | *NO*   | *Konto*           | Bank               | Norway                 | Konto nr. (Norwegian bank account number)                                           |
      | *NO*   | *MVA*             | Vat                | Norway                 | Merverdiavgift, Norwegian VAT number                                                |
      | *NO*   | *Orgnr*           | Company            | Norway                 | Organisasjonsnummer, Norwegian organisation number                                  |
      | *PY*   | *RUC*             | Tax/Vat            | Paraguay               | Tax Identifier (Registro Único de Contribuyentes)                                   |
      | *PE*   | *CUI*             | Person             | Peru                   | Person Identifier (Cédula Única de Identidad)                                       |
      | *PE*   | *RUC*             | Tax/Vat            | Peru                   | Tax Identifier (Registro Único de Contribuyentes)                                   |
      | *PE*   | *CE*              | Person             | Peru                   | Person Identifier (Carné de Extranjería)                                            |
      | *PK*   | *CNIC*            | Person             | Pakistan               | National Identity Card                                                              |
      | *PK*   | *NTN*             | Company            | Pakistan               | Tax Identification Number                                                           |
      | *PL*   | *NIP*             | Vat                | Poland                 | Numer Identyfikacji Podatkowej, Polish VAT number                                   |
      | *PL*   | *PESEL*           | Person             | Poland                 | Polish national identification number                                               |
      | *PL*   | *REGON*           | Company            | Poland                 | Rejestr Gospodarki Narodowej, Polish register of economic units                     |
      | *PT*   | *NIF*             | Vat                | Portugual              | Número de identificação fiscal, Portuguese VAT number                               |
      | *RU*   | *INN*             | Tax/Vat            | Russia                 | Tax Identifier (Идентификационный номер налогоплательщика)                          |
      | *RO*   | *CF*              | Vat                | Romania                | Cod de înregistrare în scopuri de TVA, Romanian VAT number                          |
      | *RO*   | *CNP*             | Person             | Romania                | Cod Numeric Personal, Romanian Numerical Personal Code)                             |
      | *RO*   | *CUI*             | Tax                | Romania                | Codul Unic de Înregistrare, Romanian company identifier                             |
      | *RO*   | *ONRC*            | Company            | Romania                | Ordine din Registrul Comerţului, Romanian Trade Register identifier                 |
      | *SM*   | *COE*             | Company            | San Marcos             | Codice operatore economico, San Marino national tax number                          |
      | *RS*   | *PIB*             | Vat                | Serbia                 | Poreski identifikacioni broj Tax identification number                              |
      | *RS*   | *JMBG*            | Person             | Serbia                 | Unique Master Citizen Number (Jedinstveni matični broj građana)                     |
      | *SE*   | *ORGNR*           | Company            | Sweden                 | Organisationsnummer, Swedish company number                                         |
      | *SE*   | *PERSONNUMMER*    | Person             | Sweden                 | Personnummer (Swedish personal identity number)                                     |
      | *SE*   | *VAT*             | Vat                | Sweden                 | VAT (Moms, Mervärdesskatt, Swedish VAT number)                                      |
      | *SG*   | *UEN*             | Company            | Singapore              | Singapore's Unique Entity Number                                                    |
      | *TH*   | *IDNR*            | Person             | Thailand               | Thai National ID (บัตรประจำตัวประชาชนไทย)                                           |
      | *TW*   | *UBN*             | Company            | Taiwan                 | Unified Business Number, 統一編號, Taiwanese tax number                             |
      | *TR*   | *TCKIMLIK*        | Person             | Turkey                 | Türkiye Cumhuriyeti Kimlik Numarası (Personal ID)                                   |
      | *TR*   | *VKN*             | Tax                | Turkey                 | Vergi Kimlik Numarası, Turkish tax identification number                            |
      | *SI*   | *DDV*             | Vatl               | Slovenia               | ID za DDV (Davčna številka, Slovenian VAT number)                                   |
      | *SI*   | *JMBG*            | Person             | Slovenia               | Unique Master Citizen Number (Enotna matična številka občana)                       |
      | *SK*   | *DPH*             | Vat                | Slovakia               | IČ DPH (IČ pre daň z pridanej hodnoty, Slovak VAT number)                           |
      | *SK*   | *RC*              | Person             | Slovakia               | RČ (Rodné číslo, the Slovak birth number)                                           |
      | *ES*   | *CIF*             | Tax/Vat            | Spain                  | Tax Identifier (Código de Identificación Fiscal)                                    |
      | *ES*   | *DNI*             | Person             | Spain                  | Identity code (Documento Nacional de Identidad)                                     |
      | *ES*   | *NIE*             | Person             | Spain                  | Identity code foreigner (Número de Identificación de Extranjero)                    |
      | *ES*   | *NIF*             | Tax                | Spain                  | Tax Identifier (Número de Identificación Fiscal)                                    |
      | *UY*   | *RUT*             | Tax/Vat            | Uruguay                | Tax Identifier (Registro Único Tributario)                                          |
      | *UY*   | *CEDULA*          | Person             | Uruguay                | Person Identifier (Cédula de Residencia)                                            |
      | *UY*   | *NIE*             | Person             | Uruguay                | ForeignersI identification Number                                                   |
      | *UA*   | *RNTRC*           | Person             | Ukraine                | КПП, RNTRC (Individual taxpayer registration number in Ukraine)                     |
      | *UA*   | *EDRPOU*          | Company            | Ukraine                | ЄДРПОУ, EDRPOU (Identifier for enterprises and organizations in Ukraine)            |
      | *US*   | *EIN*             | Tax/Company        | United States          | Tax Identifier (Employer Identification Number)                                     |
      | *US*   | *SSN*             | Tax/Individual     | United States          | Tax Identifier (Social Security Number)                                             |
      | *VE*   | *RIF*             | Vat                | Venezuelan             | Vat Identifier (Registro de Identificación Fiscal)                                  |
      | *VN*   | *MST*             | Company            | Vietnam                | Mã số thuế, Vietnam tax number                                                      |
      | *ZA*   | *IDNR*            | Person             | South Africa           | ID number (South African Identity Document number).                                 |
      | *ZA*   | *TIN*             | Person/Company     | South Africa           | TIN (South African Tax Identification Number).       
      |        | *noDocument*      | Document number    |                        | The document number is not provided

      # Tabela códigos dos principais bancos

      | Código | Banco |
      | ----- |----------------------- |
      | **001** |   Banco do Brasil S.A.  |
      | *033*   | 	Banco Santander (Brasil) S.A.  |
      | *104*   | 	Caixa Econômica Federal  |
      | *237*   | 	Banco Bradesco S.A.  |
      | *260*   | 	Nubank  |
      | *341*   | 	Banco Itaú S.A.  |
      | *356*   |   Banco Real S.A. (antigo)  |
      | *389*   |   Banco Mercantil do Brasil S.A.  |
      | *399*   |   HSBC Bank Brasil S.A. – Banco Múltiplo  |
      | *422*   |   Banco Safra S.A.  |
      | *453*   |   Banco Rural S.A.  |
      | *633*   |   Banco Rendimento S.A.  |
      | *652*   |   Itaú Unibanco Holding S.A.  |
      | *745*   |   Banco Citibank S.A.  |

x-tagGroups:
  - name: API Key
    tags:
      - Client-token
  - name: Cartões
    tags:
      - Tokens
      - Cards
  - name: Pagamentos
    tags:
      - Customers
      - Charges
      - Sessions
      - Sellers
      - Vendors
      - Split
      - 3DSecure2
      - Settings
  - name: Notificação e eventos
    tags:
      - Webhooks
  - name: Provedores
    tags:
      - Merchants
  - name: Gestão de pagamentos
    tags:
      - Flows
  - name: Exportar Dados
    tags:
      - Reports
  - name: Apêndice
    tags:
      - Tabelas de tipos
paths:
  /v1/auth:
    post:
      tags:
        - Client-token
      summary: Criar nova chave pública para uso no client-side
      operationId: create_auth_token
      requestBody:
        description: Creat authentication token
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthRequest"
            example:
              $ref: "#/components/examples/AuthRequest/value"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
              example:
                $ref: "#/components/examples/AuthResponse/value"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/tokens:
    post:
      tags:
        - Tokens
      summary: Criar um novo token
      operationId: create_token
      requestBody:
        description: Tokenizar
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TokenRequest"
            example:
              $ref: "#/components/examples/TokenRequestCard"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
              example:
                $ref: "#/components/examples/TokenResponse/value"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: "Python"
          source: |
            import requests

            client_id = <YOUR CLIENT ID>
            public_key = <YOUR CLIENT TOKEN>

            request = requests.post('https://api.malga.io/v1/tokens', headers={
                "X-Client-Id": client_id,
                "X-Api-Key": publick_key
              }, json={
              "cardHolderName": "JOSE DAS NEVES",
              "cardNumber": "4019598346009339",
              "cardCvv": "123",
              "cardExpirationDate": "12/2026"
            })
            print(request.json().get('tokenId'))
  /v1/3ds/setup:
    post:
      tags:
        - 3DS2 Malga
      summary: Criar um novo setup
      operationId: create_setup
      requestBody:
        description: Criar sessão no 3DS2 Malga
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetupRequest"
            example:
              $ref: "#/components/examples/SetupRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SetupResponse"
              example:
                $ref: "#/components/examples/SetupResponse/value"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: "Python"
          source: |
            import requests

            client_id = <YOUR CLIENT ID>
            public_key = <YOUR CLIENT TOKEN>

            request = requests.post('https://api.malga.io/v1/3ds/setup', headers={
                "X-Client-Id": client_id,
                "X-Api-Key": publick_key
              }, json={
              "sourceType": "card",
              "cardId": "4918cfd2-b14a-4db2-ade4-d1b8a6bd40e2",
            })
            print(request.json().get('id'))
  /v1/cards:
    post:
      tags:
        - Cards
      summary: Criar novo cartão a partir de token
      operationId: saveCard
      requestBody:
        description: Create credit card
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CardRequest"
            example:
              $ref: "#/components/examples/CardRequest/value"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardToken"
              example:
                $ref: "#/components/examples/Card/value"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "424":
          description: Faleid Dependency
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FailedDependencyItem"
      x-codeSamples:
        - lang: "Python"
          source: |
            import requests

            client_id = <YOUR CLIENT ID>
            public_key = <YOUR CLIENT TOKEN>

            request = requests.post('https://api.malga.io/v1/cards', headers={
                "X-Client-Id": client_id,
                "X-Api-Key": publick_key
              }, json={
              "tokenId": "4918cfd2-b14a-4db2-ade4-d1b8a6bd40e2"              
            })
            print(request.json().get('cardId'))
    get:
      tags:
        - Cards
      summary: Listar cartões
      operationId: getCards
      parameters:
        - in: query
          name: page
          schema:
            type: number
          required: false
          description: número da página
        - in: query
          name: limit
          schema:
            type: number
          required: false
          description: quantidade de itens por página
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardList"
              example:
                $ref: "#/components/examples/CardList/value"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/cards/{id}:
    get:
      tags:
        - Cards
      summary: Recuperar detalhes de cartão
      operationId: getCardById
      parameters:
        - in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
          description: ID do cartão
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Card"
              example:
                $ref: "#/components/examples/Card/value"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "424":
          description: Failed Dependency"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FailedDependencyResponse"
  /v1/charges:
    post:
      tags:
        - Charges
      summary: Realizar nova cobrança
      operationId: charge
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChargeRequest"
            examples:
              ChargeCardExample:
                $ref: "#/components/examples/ChargeCardRequest"
              ChargePixExample:
                $ref: "#/components/examples/ChargePixRequest"
              ChargeBoletoExample:
                $ref: "#/components/examples/ChargeBoletoRequest"
              ChargeSplitExample:
                $ref: "#/components/examples/ChargeSplitRequest"
              ChargeSplitPixExample:
                $ref: "#/components/examples/ChargeSplitRequestPix"
              ChargeSplitBoletoExample:
                $ref: "#/components/examples/ChargeSplitRequestBoleto"
              ChargeVendorExample:
                $ref: "#/components/examples/ChargeVendorExample"
              Charge3DS2Example:
                $ref: "#/components/examples/Charge3DS2Request"
              Charge3DSMalgaExample:
                $ref: "#/components/examples/Charge3DSMalgaRequest"
              ChargeNupayExample:
                $ref: "#/components/examples/ChargeNupayRequest"
              ChargePicpayExample:
                $ref: "#/components/examples/ChargePicpayRequest"
              ChargeDripExample:
                $ref: "#/components/examples/ChargeDripRequest"
              ChargeVoucherExample:
                $ref: "#/components/examples/ChargeVoucherRequest"
              ChargeApplePayCardExample:
                $ref: "#/components/examples/ChargeApplePayRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Charge"
              examples:
                ChargeCard:
                  $ref: "#/components/examples/ChargeCard"
                ChargePix:
                  $ref: "#/components/examples/ChargePix"
                ChargeBoleto:
                  $ref: "#/components/examples/ChargeBoleto"
                ChargeSplit:
                  $ref: "#/components/examples/ChargeSplit"
                ChargeSplitPix:
                  $ref: "#/components/examples/ChargeSplitPix"
                ChargeSplitBoleto:
                  $ref: "#/components/examples/ChargeSplitBoleto"
                ChargeCard3DSecure2:
                  $ref: "#/components/examples/ChargeCard3DSecure2"
                ChargeCard3DSMalga:
                  $ref: "#/components/examples/ChargeCard3DSMalga"
                ChargeNupay:
                  $ref: "#/components/examples/ChargeNupay"
                ChargePicpay:
                  $ref: "#/components/examples/ChargePicpay"
                ChargeDrip:
                  $ref: "#/components/examples/ChargeDrip"
                ChargeVoucher:
                  $ref: "#/components/examples/ChargeVoucher"
                ChargeApplePayResponse:
                  $ref: "#/components/examples/ChargeApplePayResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      tags:
        - Charges
      summary: Listar cobranças
      operationId: getCharges
      parameters:
        - in: query
          name: page
          schema:
            type: number
          required: false
          description: numero da pagina ativa
        - in: query
          name: limit
          schema:
            type: number
          required: false
          description: quantidade de registros por página 1-100
        - in: query
          name: sort
          schema:
            type: string
            enum:
              - ASC
              - DESC
          required: false
          description: tipo de ordenação decrescente ou crescente
        - in: query
          name: merchantId
          schema:
            type: string
            format: uuid
          required: false
          description: id do merchant processado na cobrança
        - in: query
          name: id
          schema:
            type: string
            format: uuid
          required: false
          description: id da cobrança
        - in: query
          name: originalAmount
          schema:
            type: number
          required: false
          description: valor em centavos da cobrança
        - in: query
          name: status
          schema:
            type: string
            enum:
              - pending
              - pre_authorized
              - authorized
              - voided
              - refund_pending
              - canceled
              - charged_back
              - capture_pending
          required: false
          description: status da cobrança
        - in: query
          name: paymentType
          schema:
            type: string
            enum:
              - credit
              - pix
              - boleto
          required: false
          description: tipo de pagamento
        - in: query
          name: orderId
          schema:
            type: string
          required: false
          description: id da cobrança gerado pelo cliente
        - in: query
          name: created
          schema:
            type: string
          required: false
          description: registros criados em uma data específica
          example: "2022-03-12T12:43:53"
        - in: query
          name: created.gt
          schema:
            type: string
          required: false
          description: registros com data maior que
          example: "2022-03-12T12:43:53"
        - in: query
          name: created.lt
          schema:
            type: string
          required: false
          description: registros com data menor que
          example: "2022-03-12T12:43:53"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargeList"
              example:
                $ref: "#/components/examples/ChargeList/value"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/charges/{id}:
    get:
      tags:
        - Charges
      summary: Recuperar detalhes de cobrança
      operationId: getChargesByid
      parameters:
        - in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
          description: id da cobrança que deseja recuperar
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Charge"
              example:
                $ref: "#/components/examples/ChargeCard/value"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      tags:
        - Charges
      summary: Alterar o status de uma cobrança no ambiente de sandbox
      operationId: changeStatusTransaction
      parameters:
        - in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
          description: id da cobrança que deseja alterar no sandbox
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangeStatusTransaction"
            example:
              status: "charged_back"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Charge"
              example:
                $ref: "#/components/examples/ChargeCard/value"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/charges/{id}/antifraud:
    patch:
      tags:
        - Charges
      summary: Alterar o status do antifraude no ambiente de sandbox
      operationId: changeAntifraudStatusTransaction
      parameters:
        - in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
          description: id da cobrança que deseja alterar no sandbox
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangeAntifraudStatusTransaction"
            example:
              status: "approved"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Charge"
              example:
                $ref: "#/components/examples/ChargeCard/value"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/charges/{id}/capture:
    post:
      tags:
        - Charges
      summary: Capturar cobrança pre-autorizada
      operationId: captureCharge
      parameters:
        - in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
          description: id da cobrança que deseja capturar
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CaptureRequest"
            example:
              amount: 150
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Charge"
              example:
                $ref: "#/components/examples/ChargeCard/value"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/charges/{id}/void:
    post:
      tags:
        - Charges
      summary: Estornar cobrança aprovada
      operationId: refundCharge
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VoidRequest"
            example:
              amount: 150
      parameters:
        - in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
          description: id da cobrança que deseja estornar
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Charge"
              example:
                $ref: "#/components/examples/ChargeCard/value"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/sessions:
    post:
      summary: Criar nova sessão
      operationId: createSession
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSession"
            example:
              $ref: "#/components/examples/CreateSessionRequest/value"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateSession201Response"
              example:
                $ref: "#/components/examples/Session/value"
      tags:
        - Sessions
  /v1/sessions/{id}:
    get:
      summary: Recuperar detalhes de uma sessão
      operationId: getSession
      parameters:
        - name: id
          required: true
          description: Identificação da sessão a ser recuperada
          in: path
          schema:
            type: string
            format: uuid
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateSession201Response"
              example:
                $ref: "#/components/examples/Session/value"
      tags:
        - Sessions
    patch:
      summary: Atualizar o status de uma sessão
      operationId: patchSession
      parameters:
        - name: id
          required: true
          description: Identificação da sessão a ser alterada
          in: path
          schema:
            type: string
            format: uuid
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PatchSession201Response"
              example:
                $ref: "#/components/examples/PatchSession201Response/value"
      tags:
        - Sessions
  /v1/sessions/{id}/charge:
    post:
      summary: Pagar uma sessão
      operationId: paySession
      parameters:
        - name: id
          required: true
          description: Identificação da sessão a ser paga
          in: path
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaySessionRequest"
            examples:
              PaySessionCardRequest:
                $ref: "#/components/examples/PaySessionCardRequest"
              PaySessionCardRequestWithRecurrence:
                $ref: "#/components/examples/PaySessionCardRequestWithRecurrence"
              PaySessionPixRequest:
                $ref: "#/components/examples/PaySessionPixRequest"
              PaySessionDripRequest:
                $ref: "#/components/examples/PaySessionDripRequest"
              PaySessionBoletoRequest:
                $ref: "#/components/examples/PaySessionBoletoRequest"
              PaySessionNupayRequest:
                $ref: "#/components/examples/PaySessionNupayRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaySession201Response"
              examples:
                PaySession201CardResponse:
                  $ref: "#/components/examples/PaySession201CardResponse"
                PaySession201PixResponse:
                  $ref: "#/components/examples/PaySession201PixResponse"
                PaySession201DripResponse:
                  $ref: "#/components/examples/PaySession201DripResponse"
                PaySession201BoletoResponse:
                  $ref: "#/components/examples/PaySession201BoletoResponse"
                PaySession201NupayResponse:
                  $ref: "#/components/examples/PaySession201NupayResponse"
      tags:
        - Sessions
  /v1/sessions/{id}/cancel:
    post:
      summary: Cancelar uma sessão
      operationId: cancelSession
      parameters:
        - name: id
          required: true
          description: Identificação da sessão a ser cancelada
          in: path
          schema:
            type: string
            format: uuid
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelSession201Response"
              example:
                $ref: "#/components/examples/CancelSession201Response/value"
      tags:
        - Sessions
  /v1/sessions/{id}/history:
    get:
      summary: Recuperar o histórico da sessão
      operationId: getSessionHistory
      parameters:
        - name: id
          required: true
          description: Identificação da sessão a ser recuperada
          in: path
          schema:
            type: string
            format: uuid
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionHistoryResponse"
              example:
                $ref: "#/components/examples/SessionHistoryResponse/value"
      tags:
        - Sessions
  /v1/sessions/{id}/link:
    get:
      summary: Recupera sessão com os dados das configurações da empresa
      operationId: getSessionWithSettings
      parameters:
        - name: id
          required: true
          description: Identificação da sessão a ser recuperada
          in: path
          schema:
            type: string
            format: uuid
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionSettingsResponse"
              example:
                $ref: "#/components/schemas/SessionSettingsResponse"
      tags:
        - Sessions
  /v1/merchants:
    post:
      summary: Criação de novo merchant para cobrança
      operationId: createMerchant
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMerchantDto"
            example:
              $ref: "#/components/examples/MerchantRequest/value"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Merchant"
              example:
                $ref: "#/components/examples/Merchant/value"
      tags:
        - Merchants
    get:
      summary: Listagem de merchants cadastrados
      operationId: listMerchants
      parameters:
        - in: query
          name: page
          schema:
            type: number
          required: false
          description: número da página
        - in: query
          name: limit
          schema:
            type: number
          required: false
          description: quantidade de itens por página
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MerchantList"
              example:
                $ref: "#/components/examples/MerchantList/value"
      tags:
        - Merchants
  /v1/merchants/{id}:
    get:
      operationId: getMerchantById
      summary: Recuperar detalhes de merchant pelo id
      parameters:
        - name: id
          required: true
          description: id do merchant
          in: path
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Merchant"
              example:
                $ref: "#/components/examples/Merchant/value"
      tags:
        - Merchants
    patch:
      operationId: updateMerchant
      summary: Atualizar configurações de merchant
      parameters:
        - name: id
          required: true
          in: path
          description: id do merchant
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMerchantDto"
      responses:
        "200":
          description: ""
      tags:
        - Merchants
    delete:
      summary: Deletar merchant pelo id
      operationId: deleteMerchant
      parameters:
        - name: id
          required: true
          in: path
          description: id do merchant
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: ""
      tags:
        - Merchants
  /v1/customers:
    post:
      summary: Criação de novo customer para cobrança
      operationId: createCustomer
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateCustomerRequest"
            example:
              $ref: "#/components/examples/CustomerRequest/value"
      responses:
        "201":
          description: Created.
      tags:
        - Customers
    get:
      summary: Listagem de customers cadastrados
      operationId: ListCustomers
      parameters:
        - in: query
          name: page
          schema:
            type: number
          required: false
          description: número da página
        - in: query
          name: limit
          schema:
            type: number
          required: false
          description: quantidade de itens por página
        - in: query
          name: sort
          schema:
            type: string
            enum: ["ASC", "DESC"]
          required: false
          description: ordenação dos itens
        - in: query
          name: id
          schema:
            type: string
          required: false
          description: identificador de um customer
        - in: query
          name: document.type
          schema:
            type: string
          required: false
          description: tipo de documento
        - in: query
          name: document.number
          schema:
            type: string
          required: false
          description: numero do documento
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerList"
              example:
                $ref: "#/components/examples/CustomerList/value"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Customers
  /v1/customers/{id}:
    get:
      summary: Recuperar detalhes de customer
      operationId: getCustomer
      parameters:
        - name: id
          required: true
          description: id do customers que deseja recuperar
          in: path
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
              example:
                $ref: "#/components/examples/Customer/value"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      tags:
        - Customers
    delete:
      operationId: deleteCustomer
      summary: Deletar customer pelo id
      parameters:
        - name: id
          required: true
          in: path
          description: id do customers que deseja deletar
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: ""
      tags:
        - Customers
    patch:
      operationId: updateCustomer
      summary: Atualizar customer pelo id
      parameters:
        - name: id
          required: true
          in: path
          description: id do customers que deseja alterar
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateCustomerRequest"
      responses:
        "200":
          description: The record has been successfully updated.
      tags:
        - Customers
  /v1/customers/{customer_id}/cards:
    post:
      operationId: linkCard
      summary: Adicionar cartão de crédito ao customer
      parameters:
        - name: customer_id
          required: true
          description: id do customers que deseja alterar
          in: path
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/LinkCardRequest"
            example:
              $ref: "#/components/examples/LinkCardRequest/value"
      responses:
        "204":
          description: The card has been linked successfully.
      tags:
        - Customers
    get:
      summary: Listagem dos cartões do customer
      operationId: getCustomerCards
      parameters:
        - name: customer_id
          required: true
          in: path
          description: id do customers que deseja alterar
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerCardList"
              example:
                $ref: "#/components/examples/CustomerCardList/value"
      tags:
        - Customers


  /v1/settings:
    post:
      tags:
        - Settings
      summary: Configurações da empresa para personalização do checkout do link de pagamento, com imagem. O body deve ser enviado com form-data. Todos os campos são string com exceção do campo logo que é do tipo File.
      operationId: createSettings
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/UserSettingsWithImage"
            example:
              $ref: "#/components/examples/SettingsRequest/value"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserSettings"
              example:
                $ref: "#/components/examples/UserSettings/value"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    patch:
      tags:
        - Settings
      summary: Configurações da empresa para personalização do checkout do link de pagamento, com imagem. O body deve ser enviado com form-data. Todos os campos são string com exceção do campo logo que é do tipo File.
      operationId: updateSettings
      requestBody:
        content:
          multipart/form-data:
[...]
